<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/rpbarnes9/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rpbarnes9@gmail.com" />
            <add key="ClearTextPassword" value="37b899c25e905e07661f877d43f7807355fbf72c" />
        </github>
    </packageSourceCredentials>
</configuration>
